.CxyView {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 800px;
  margin-left: 50%;
  transform: translateX(-50%);

  pre {
    box-sizing: border-box;
    padding: 2px;
    margin-bottom: 0;
    color: aqua;
    background-color: #000;
  }
}