.CxyPlatformMain {
  width: 720px;
  // width: 904px;
  margin: 0 20px;
  background-color: #fff;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 6px;
  // height: calc(100vh - 100px);

  .goLogin {
    margin-top: 100px;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width: 74px;
    color: #12a272;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  .ant-tabs-nav-wrap {
    padding-left: 20px;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #12a272;
  }

  .ant-tabs-tab-btn:hover {
    color: #12a272 !important;
  }

  .ant-tabs-ink-bar {
    background-color: #12a272;
  }

  .post-main {
    box-sizing: border-box;
  }
  .post-list {
    height: 99px;
    border-bottom: 1px rgba(228, 230, 235, 0.5) solid;
    box-sizing: border-box;
    padding: 12px 0;
    display: flex;
    align-items: center;
    padding: 12px 20px;

    cursor: pointer;

    &:hover {
      background-color: #f2f3f5;
    }
    .post-item {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: flex-start;
      height: 80px;

      .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #000;
        width: 100%;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }

      .content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        width: 572px;
        color: #8a919f;
        font-size: 13px;
        line-height: 30px;
      }

      .info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #8a919f;
      }
    }

    .thumb_url {
      width: 80px;
      border-radius: 4px;
      margin-left: 18px;
    }
  }
}
