.CxyListComponents {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;

  // border: 1px #fff solid;
  margin: 0 32px 32px;
  overflow: hidden;

  // overflow-y: auto;
  cursor: pointer;

  .flexWrap {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
  }

  .imagesWrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    // border: 1px #fff solid;
    margin: 0 32px 32px;
    // flex: 1;
    overflow: hidden;
    overflow-y: auto;
    cursor: pointer;

    .ImagesMain {
      position: relative;
      box-sizing: border-box;
      width: 120px;
      height: 120px;
      padding: 10px;
      margin: 12px;
      overflow: hidden;
      background-color: rgb(49 49 54);
      border-radius: 6px;

      &:hover {
        .ImagesOprate {
          display: flex;
        }
      }
    }

    .image-cove {
      width: 100px;
      height: 100px;
    }

    .ImagesOprate {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: none;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 120px;
      background-color: rgb(0 0 0 / 60%);

      i {
        font-size: 20px;
        color: #fff;

        &:active {
          opacity: .6;
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;

    button {
      color: #fff;
      background-color: rgb(49 49 54) !important;
    }

    .ant-pagination-item-active, .ant-pagination-item {
      background-color: rgb(49 49 54) !important;
      border-color: #fff;
    }

    .ant-select-selector {
      color: #fff;
      background-color: rgb(49 49 54) !important;
    }

    .ant-pagination-total-text {
      color: #fff;
    }

    .ant-pagination-item-active a {
      color: #9AEECD !important;
    }

    .ant-pagination-item a {
      color: #fff;
    }

    .ant-pagination-options-quick-jumper input {
      color: #fff;
      background-color: rgb(49 49 54) !important;
    }

    .ant-pagination-options-quick-jumper, .ant-select-selection-item {
      color: #fff;
    }

     .ant-select-selector::after, .anticon {
      color: #fff;
     }
  }
}