.CxyCodeCopy {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  padding-top: 32px;
  background-color: #181818;

  .box {
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0px 24px;
    border-radius: 40px;
    color: hsla(0, 0%, 100%, 0.85);
    height: 64px;
    display: flex;
    align-items: center;

    .icon-daima2 {
      font-size: 32px;
      color: #12a272;
    }

    .items {
      margin-right: 32px;
      cursor: pointer;
    }
  }
}
