.CxyChrome {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  .chrome_box {
    width: 24%;
    min-height: 170px;
    background-color: #292a2d;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 16px 20px;
    margin: 0 1% 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .nav {
      display: flex;
      align-items: start;
      .img {
        width: 36px;
        height: 36px;
        border-radius: 6px;
      }
      .text {
        margin-left: 24px;
        display: flex;
        flex-direction: column;
        position: relative;
        top: -6px;

        .title {
          color: #fff;
        }
        .desc {
          color: #989ea4;
        }
      }
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .label {
        display: flex;
        align-items: center;
      }
      .label_text {
        color: #fff;
        height: 24px;
        border-radius: 4px;
        padding: 0 8px;
        margin-right: 8px;
      }

      .button {
        width: 66px;
        height: 32px;
        border: 1px rgba(95, 99, 104, 1) solid;
        border-radius: 4px;
        text-align: center;
        line-height: 32px;
        color: rgba(138, 180, 248, 1);
        cursor: pointer;
        &:active {
          opacity: 0.6;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .CxyChrome {
    .chrome_box {
      width: 32%;
      margin: 0 1% 24px 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  .CxyChrome {
    .chrome_box {
      width: 48%;
      margin: 0 1% 24px 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .CxyChrome {
    .chrome_box {
      width: 96%;
      margin: 0 4% 24px 1%;
    }
  }
}
