.CxySearchComponents {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
  padding: 0 32px;

  .button-primary {
    width: 96px;
    height: 32px;
    line-height: 32px;
    color: rgb(235 235 245 / 60%);
    text-align: center;
    cursor: pointer;
    background: rgb(49 49 54 / 100%);
    border-radius: 3px;;
    box-shadow: inset 1px 1px 1px 1px hsl(0deg 0% 100% / 50%),1px 1px 1px 1px hsl(0deg 0% 100% / 50%);

    &:active {
      background: rgb(49 49 54 / 60%);;
    }
  }

  .ant-btn {
    padding: 0;
  }

  .ant-upload-list {
    display: none;
  }
}