.CxyKeywordComponents {
  // border: 1px red solid;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  background-color: #fff;

  .logo {
    transform: translateX(120px);
  }

  .sideBox {
    display: flex;
    justify-content: space-between;
    width: 1300px;

    .timeBox {
      display: flex;
      align-items: center;
    }

    .textBox {
      display: flex;
      align-items: center;

      .extend {
        display: flex;
        align-items: center;
        margin-left: 12px;
        cursor: pointer;
        &:hover div {
          color: #12a272;
        }
        i {
          margin-right: 4px;
          font-size: 12px;
        }
      }
    }
  }

  .box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 50px;
    border: 2px #12a272 solid;
    border-radius: 6px;

    .boxFlex {
      display: flex;
      align-items: center;
      width: 700px;
      height: 50px;
      overflow: hidden;

      .type {
        display: flex;
        align-items: center;
        min-width: 140px;
        color: #000;

        .type_name {
          padding: 0 20px 0 30px;
          color: #000;
          white-space: nowrap;
        }

        .icon-xiajiantou {
          position: relative;
          top: 2px;
          color: #000;
        }
      }

      .ant-input {
        flex: 1;
        height: 46px;

        // background-color: #f5f7f8;
        border: none;
      }

      .ant-input:focus {
        border: none;
        box-shadow: none;
      }

      .ant-input-affix-wrapper-focused {
        border: none;
        box-shadow: none;
      }

      .ant-input-affix-wrapper {
        border: none;
      }

      .search {
        position: relative;
        top: -2px;
        width: 100px;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        line-height: 50px;
        color: #fff;
        text-align: center;
        cursor: pointer;
        background-color: #12a272;
        border: 0 6px 6px 0;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .searchBox {
      position: absolute;
      top: 48px;
      z-index: 999;
      box-sizing: border-box;
      width: 700px;
      padding-left: 20px;
      background: #fff;
      border: 2px #12a272 solid;
      border-top: none;

      .searchItems {
        height: 32px;
        line-height: 32px;
        cursor: pointer;

        &:hover {
          color: #9aeecd;
        }
      }
    }
  }

  .category {
    display: flex;
    align-items: center;
    width: 700px;
    height: 40px;

    .category_items {
      margin-right: 14px;
      cursor: pointer;
    }
  }

  .recommend {
    display: flex;
    flex-wrap: wrap;
    width: 920px;
    margin-top: 32px;

    .recommend_items {
      position: relative;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      width: 280px;
      height: 60px;
      padding: 20px;
      margin: 12px;
      cursor: pointer;
      background: rgb(249 249 249 / 100%);
      border: 1px #f9f9fa solid;
      border-radius: 6px;

      &:hover {
        border: 1px #12a272 solid;

        div {
          opacity: 0.9;
        }
      }

      div {
        color: #333;
      }

      .icon-youjiantou {
        position: absolute;
        top: 18px;
        right: 24px;
      }
    }
  }

  .main {
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: #f7f7f8;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    .mainBox {
      width: 1300px;
      overflow: hidden;
      box-sizing: border-box;
      padding: 24px 0;
      display: flex;
      position: relative;
    }
  }
}
