.cxyHeaderComponents_top {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px #eee solid;
  position: relative;

  .totle {
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    align-items: center;
    height: 50px;
  }
}
.cxyHeaderComponents {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  // padding: 0 64px;
  color: #515767;
  // background-color: #1e1e20;
  // border-bottom: 1px #eee solid;
  width: 1300px;

  .flex {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .touxiang {
    width: 30px;
    border-radius: 50%;
  }
  .left {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      width: 24px;
      // height: 24px;
      margin-right: 8px;
    }

    .left_title {
      // font-size: 16px;
      // color: rgb(255 255 245 / 86%);
      color: #515767;
      white-space: nowrap;
      font-weight: bold;
      margin-right: 20px;
      font-size: 16px;
    }
  }

  .right {
    display: flex;
    align-items: center;

    .items {
      display: flex;
      align-items: center;
      padding: 0 12px;

      .item {
        display: flex;
        align-items: center;
        cursor: pointer;

        .item_text {
          // color: rgb(255 255 245 / 86%);

          color: #333;

          font-size: 15px;
          white-space: nowrap;
          position: relative;

          &:hover {
            // color: #12a272;

            &::before {
              position: absolute;
              content: "";
              width: 100%;
              height: 2px;
              background-color: #12a272;
              left: 0;
              bottom: -6px;
            }
          }
        }

        i {
          margin-left: 4px;
          font-size: 12px;
          color: #68686e;
          transform: scale(0.9);
        }

        .active {
          color: #12a272;
        }
      }
    }

    .lines {
      width: 1px;
      height: 24px;
      margin: 0 24px 0 16px;
      background-color: rgb(82 82 89 / 32%);
    }

    .icon-github {
      font-size: 20px;
      // color: #dfdfd6;
      color: #333;

      cursor: pointer;
    }
  }

  .login {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  .flexRow {
    display: flex;
    align-items: center;

    .pic {
      width: 30px;
      margin-right: 14px;
    }
  }
}
