.navbarComponents {
  display: flex;
  overflow: hidden;
  height: 60px;
  box-sizing: border-box;
  padding: 0 32px;
  justify-content: space-between;
  box-shadow: 0 6px 14px 0 rgba(227,233,237,.35);
  color: #000;
}