.CxyTextArea {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-right: 32px;
  border-top: 1px #eee solid;

  .input-box {
    position: relative;
    width: 890px;
    height: 60px;
    background-color: #26282d;
    border: 1px solid #0e1013;
    border-radius: 5px;
    box-shadow: 0 0 5px #1e1717;

    .input {
      position: absolute;
      top: 5px;
      left: 24px;
      width: 832px;
      height: 50px;
      font-family: inherit;
      font-size: inherit;
      font-style: inherit;
      font-weight: inherit;
      color: white;
      text-indent: 20px;
      background-color: transparent;
      border: none !important;
      outline: 0;
      box-shadow: none !important;
    }

    img {
      position: absolute;
      top: 20px;
      right: 20px;
      height: 20px;
      cursor: pointer;

      &:active {
        opacity: .5;
      }
    }
  }
}