.CxyContextMenu {
  display: flex;
  flex: 1;
  flex-direction: column;

  .nav {
    display: flex;
    align-items: center;
    color: rgb(110 231 183);
    cursor: pointer;
  }

  .box {
    flex: 1;
    margin-top: 20px;
    border: 1px red dashed;
  }
}
