* {
  margin: 0;
  padding: 0;
}

html {
  color: #fff;
  height: 100%;
}


#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.flex {
  display: flex;
  align-items: center;
}