* {
  margin: 0;
  padding: 0;
}

html {
  color: #fff;
  height: 100%;
}


#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
}

#nprogress .bar {
  background: rgb(110, 231, 183) !important;
}
