@font-face {
  font-family: iconfont; /* Project id 4114096 */
  src: url('//at.alicdn.com/t/c/font_4114096_ehwabbnm7oq.woff2?t=1697684334394') format('woff2'),
       url('//at.alicdn.com/t/c/font_4114096_ehwabbnm7oq.woff?t=1697684334394') format('woff'),
       url('//at.alicdn.com/t/c/font_4114096_ehwabbnm7oq.ttf?t=1697684334394') format('truetype');
}

.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fasong::before {
  content: "\e743";
}

.icon-github::before {
  content: "\e85a";
}

.icon-jiantou-right-top::before {
  content: "\e620";
}

.icon-bilibili-fill::before {
  content: "\e66b";
}

.icon-sanxianglogo::before {
  content: "\e650";
}

.icon-huanjiaozhongxin02::before {
  content: "\e8f1";
}

.icon-form::before {
  content: "\e626";
}

.icon-fuzhilianjie::before {
  content: "\e66d";
}

.icon-xiazai::before {
  content: "\e623";
}

.icon-yulan::before {
  content: "\e7a0";
}

.icon-wenjianjia1::before {
  content: "\e616";
}

.icon-weidaqiadewenjianjia::before {
  content: "\e617";
}

.icon-mulu::before {
  content: "\e61f";
}

.icon-template-library::before {
  content: "\e625";
}

.icon-shiyanshi_wl::before {
  content: "\e61e";
}

.icon-crf::before {
  content: "\e60b";
}

.icon-dataDictionary::before {
  content: "\e60c";
}

.icon-editCheckSet::before {
  content: "\e60e";
}

.icon-frontLogic::before {
  content: "\e60f";
}

.icon-randomMapping::before {
  content: "\e612";
}

.icon-labRangeTypeMapping::before {
  content: "\e613";
}

.icon-visitDesign::before {
  content: "\e614";
}

.icon-API::before {
  content: "\e68c";
}

.icon-json::before {
  content: "\e685";
}

.icon-APIguanli::before {
  content: "\e65f";
}

.icon-APIjieru::before {
  content: "\ec16";
}

.icon-jQuery::before {
  content: "\e79a";
}

.icon-rongheCDN::before {
  content: "\e67a";
}

.icon-pcdnPCDN::before {
  content: "\e6f2";
}

.icon-icon_mock4::before {
  content: "\e768";
}

.icon-virus-covid::before {
  content: "\e8c1";
}

.icon-huatu::before {
  content: "\e766";
}

.icon--_sucaiku::before {
  content: "\e643";
}

.icon-git::before {
  content: "\e68f";
}

.icon-zuobiruanjian-::before {
  content: "\e7c9";
}

.icon-yingyong::before {
  content: "\e64f";
}

.icon-zhengshu::before {
  content: "\e61d";
}

.icon-zhifu::before {
  content: "\e70f";
}

.icon-neiwangDNS::before {
  content: "\e6c8";
}

.icon-zitidaxiao-::before {
  content: "\e63f";
}

.icon-qiatongxingxiang::before {
  content: "\e63e";
}

.icon-sousuo1::before {
  content: "\e651";
}

.icon-sousuo2::before {
  content: "\e8b9";
}

.icon-ziyuan2::before {
  content: "\e61c";
}

.icon-daima::before {
  content: "\e6e4";
}

.icon-aislogo::before {
  content: "\e648";
}

.icon-mogui::before {
  content: "\e600";
}

.icon-shipin::before {
  content: "\e63b";
}

.icon-icon::before {
  content: "\e6b8";
}

.icon-Pexels::before {
  content: "\e610";
}

.icon-Pixabay::before {
  content: "\e611";
}

.icon-erweima::before {
  content: "\e624";
}

.icon-biaoqingbao::before {
  content: "\e657";
}

.icon-sihuamianfengeqi::before {
  content: "\e605";
}

.icon-sheji-xianxing::before {
  content: "\e920";
}

.icon-icon-::before {
  content: "\e606";
}

.icon-tubiaozhizuomoban-::before {
  content: "\e608";
}

.icon-tupian::before {
  content: "\e63a";
}

.icon-code::before {
  content: "\e615";
}

.icon-shuiyinguanli::before {
  content: "\e6c5";
}

.icon-wenjianjia::before {
  content: "\ec17";
}

.icon-chuangketie::before {
  content: "\e602";
}

.icon-wuguan::before {
  content: "\ec5f";
}

.icon-mysql::before {
  content: "\ec6d";
}

.icon-B-shengshiqu::before {
  content: "\e72d";
}

.icon-yasuobao::before {
  content: "\e61a";
}

.icon-GIF::before {
  content: "\e90e";
}

.icon-xml::before {
  content: "\e8c4";
}

.icon-icon-test::before {
  content: "\e621";
}

.icon-gongju::before {
  content: "\e6cf";
}

.icon-agora_AIzhinengjiangzao-zaoyinxiaochu::before {
  content: "\e688";
}

.icon-yansetiaozheng::before {
  content: "\eca2";
}

.icon-jianchachaxun::before {
  content: "\e63c";
}

.icon-shuyi_jianli::before {
  content: "\e65e";
}

.icon-shujukeshihua1::before {
  content: "\e70b";
}

.icon-zaixiankoutu::before {
  content: "\e603";
}

.icon-zhuanhuan::before {
  content: "\e6a0";
}

.icon-43-css::before {
  content: "\e68e";
}

.icon-js::before {
  content: "\ec68";
}

.icon-html::before {
  content: "\e619";
}

.icon-PDF::before {
  content: "\e715";
}

.icon-peiseqi::before {
  content: "\e62f";
}

.icon-JSON::before {
  content: "\e618";
}

.icon-zhengzebiaodashi_1::before {
  content: "\e758";
}

.icon-regularExpression-o::before {
  content: "\e739";
}

.icon-xuanzeqixiayige::before {
  content: "\e6ea";
}

.icon-close-line::before {
  content: "\e6c3";
}

.icon-kefu::before {
  content: "\e88f";
}

.icon-shouye::before {
  content: "\e62e";
}

.icon-navicon-wzgl::before {
  content: "\e661";
}

.icon-yu::before {
  content: "\e62d";
}

.icon-yu1::before {
  content: "\e68d";
}

.icon-xiaocezi::before {
  content: "\e888";
}

.icon-youjiantou::before {
  content: "\e622";
}

.icon-a-youjiantouzhixiangyoujiantou::before {
  content: "\e60d";
}

.icon-xiajiantou::before {
  content: "\e601";
}

.icon-sousuo::before {
  content: "\e670";
}

.icon-xiumeigongju-::before {
  content: "\e604";
}

.icon-wulianwang-::before {
  content: "\e609";
}

.icon-shequ-weijihuo::before {
  content: "\e60a";
}

.icon-ziyuan::before {
  content: "\e88e";
}

.icon-ziyuan1::before {
  content: "\e6a4";
}

.icon-vue::before {
  content: "\e6b9";
}

.icon-vue-config::before {
  content: "\e6ba";
}

.icon-react::before {
  content: "\ec77";
}

.icon-vue1::before {
  content: "\e61b";
}

.icon-tuandui::before {
  content: "\e62c";
}

.icon-zuojiantou::before {
  content: "\e607";
}
