.cxyMenu {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #1c1e21;
    transition: all 0.2s;

    .cxyBox {
      display: flex;
      flex: 1;
      flex-direction: column;
      width: 100%;

      .cxyLogo {
        width: 140px;
        margin-left: 50px;
        cursor: pointer;
      }

      .cxyLogoSmall {
        width: 70px;
        margin-top: 20px;
        cursor: pointer;
      }

      .cxyFlex {
        display: flex;
        align-items: center;
        height: 50px;
        cursor: pointer;

        .cxyIconfont {
          padding-right: 30px;
          padding-left: 25px;
          // color: #fff;
          font-size: 18px;
        }

        .cxyItems {
          box-sizing: border-box;
          flex: 1;
          height: 50px;
          line-height: 50px;
        }

        &:hover {
          .cxyIconfont,
          .cxyItems {
            color: #6ee7b7 !important;
          }
        }
      }
    }
  }

  .collapse {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #1c1e21;
    border-radius: 50%;
    transition: all 0.2s;

    .icon-zuojiantou {
      position: relative;
      right: -2px;
      font-size: 22px;
    }

    &:hover {
      color: #6ee7b7;
    }
  }
